<%= form_with(model: shrine, local: true) do |form| %>
  <% if shrine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shrine.errors.count, "error") %> prohibited this shrine from being saved:</h2>

      <ul>
      <% shrine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container">
    <div class="row header">
      <h1>神社情報の共有</h1>
      <h5>紹介したい神社の情報を以下項目に記載して紹介しましょう</h5>
    </div>
      <%= form.label :image, '画像の選択' %>
      <%= form.file_field :image %>
    <div class="field form-group">
      <%= form.label :name,"神社名" %>
      <%= form.text_field :name, class:"form-control", :placeholder => '神社名' %>
    </div>
  
    <div class="field form-group">
      <%= form.label :adress,"所在地" %>
      <%= form.text_field :adress, class:"form-control", :placeholder => '所在地'  %>
    </div>
  
    <div class="field form-group">
      <%= form.label :url ,"URL"%>
      <%= form.text_field :url, class:"form-control", :placeholder => 'URL'  %>
    </div>

    <div class="field form-group">
      <%= form.label :article,"記事" %>
      <%= form.text_area :article, class:"form-control", :placeholder => '記事'  %>
    </div>
    
    <div class="field form-group">
      <%= form.label :god,"祭神" %>
      <%= form.text_area :god, class:"form-control", :placeholder => '祭神'  %>
    </div>
    
    <div class="field form-group">
      <%= form.label :goshuin,"御朱印有無" %>      
    <%= form_for @shrine do |f| %>
       <%= f.select :goshuin, [["あり", "あり"], ["なし", "なし"]], include_blank: "選択して下さい" %>
    <% end %>    
    </div>
    
    <div class="actions">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
