<main>
  <div class="shrine_show_all">
    <div class="shrine_show">
        <%= image_tag user.image.to_s ,class:"shrine_img" %>      
        <div class="card-body">
          <h2 class="shrine_name">■名称：<%= @shrine[:name] %></h2>
          <p class ="shrine_word">■御祭神<br><span><%= @shrine[:god] %></span></p>
          <p class ="shrine_word">■御朱印：<span><%= @shrine[:goshuin] %></span></p>
          <p class ="shrine_word">■所在地：<span><%= @shrine[:adress] %></span></p>    
          <p class ="shrine_word">■URL：<span><%= link_to(@shrine[:url],@shrine[:url]) %></span></p>
          <h3 class ="shrine_name">■概要</h3>
          <div class ="shrine_article">
            <%= simple_format(@shrine[:article]) %>
          </div>
          <div class="custom_link">
            <%= link_to '編集', edit_shrine_path(@shrine), class: "btn btn-outline-primary" %>
            <%= link_to '削除', @shrine, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
          </div>
      </div>
    </div>
    <div class="show_link">  
      <%= link_to '編集', edit_shrine_path(@shrine) %> |
      <%= link_to '戻る', shrines_path %>
    </div>      
  </div>     
</main>